.for-guards{
    background-color: $lastcaruesel-background !important;
    .for-guards-left{
        display: flex;
        flex-direction: column;
        justify-content: center;
        @media (max-width:768px) {
            h1{
                margin-bottom: 60px;
                padding-right: 30px;
            }
            p{
                margin-bottom: 60px;
            }
        }
        a{
            text-decoration: none;
            padding: 0px 36px;
            height: 46px;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            background-color: $special-green;
            color: $special-green-hover;
            transition: 0.3s all ease-in-out;
            border: none;
            border-radius: 24px;
            font-weight: bold;
            &:hover{
                background-color: $special-green-hover;
                color: $special-green;
            }
            @media (max-width:768px) {
                width: 100%;
            }
        }
    }
}