main{
    #work-one{
        background-color: $background-color-white;
        .work-one-left{
            
            padding: 32px 0px;

            @media (max-width:768px) {
                padding: 16px 0px;
            }

            .left-up{
                padding: 0px 40px;
                margin: 32px 0px;
                h1{
                    @include TextFont($f_size:54px, $text_weight:700);
                }
                @media (max-width:768px) {
                    margin: 16px 0px;
                    padding: 0px 16px;
                    h1{
                        @include TextFont($f_size:32px);
                    }
                }
            }
            .left-down{
                padding: 0px 40px;
                margin: 32px 0px;
                p{
                    @include TextFont($f_size:18px, $margin:0 0 16px 0, $line_height:1.4);
                }
                @media (max-width:768px) {
                    margin: 16px 0px;
                    padding: 0px 16px;
                    p{
                        @include TextFont($f_size:16px);
                    }
                }
            }
        }
    }
    #work-two{
        .row{
            padding: 0 80px;
            @media (max-width:768px) {
                padding: 0 24px;
            }
        }
        .work-two-img{
            @include flexible(center,center,row);
            img{
                width: max-content;
                object-fit: contain;
            }
            @media (max-width:768px) {
                order: 2;
                img{
                    max-width: 100%;
                    object-fit: contain;
                }
            }
        }
        .work-two-content{
            @include flexible($jus:center, $direction:column);
            h3{
                @include TextFont($f_size:20px, $margin:0 0 8px 0);
            }
            h2{
                @include TextFont($f_size:44px, $text_weight:700, $padding:8px 0 32px 0, $line_height:1.07);
            }
            p{
                @include TextFont($f_size:18px, $line_height:1.4, $margin:0 0 16px 0);
                width: 84%;
            }
            @media (max-width:768px) {
                p{
                    width: 100%;
                    margin-bottom: 20px;
                }
            }
        }
    }
    #work-three{
        .row{
            padding: 0 80px;
            @media (max-width:768px) {
                padding: 0 24px;
            }
        }
        .work-three-img{
            @include flexible(center,center,row);
            img{
                width: max-content;
                object-fit: contain;
            }
            @media (max-width:768px) {
                order: 2;
                img{
                    max-width: 100%;
                    object-fit: contain;
                }
            }
        }
        .work-three-content{
            @include flexible($jus:center, $direction:column);
            h3{
                @include TextFont($f_size:20px, $margin:0 0 8px 0);
            }
            h2{
                @include TextFont($f_size:44px, $text_weight:700, $padding:8px 0 32px 0, $line_height:1.07);
            }
            p{
                @include TextFont($f_size:18px, $line_height:1.4, $margin:0 0 16px 0);
                width: 84%;
            }
            @media (max-width:768px) {
                p{
                    width: 100%;
                    margin-bottom: 20px;
                }
            }
        }
    }
    #three{
        .for-how-work{
            @media (max-width:768px) {
                padding: 0 24px;
            }
        }
    }
    #work-inputs{
        background-color: $table-left-white;

        .inputs-left{
            padding: 32px 0px;
            @media (max-width:768px) {
                padding: 16px 0px;
            }
            .inputs-left-up{
                padding: 0px 40px;
                margin: 32px 0px;
                h1{
                    margin-bottom: 16px;
                    font-size: 54px;
                    font-weight: 700;
                }
                @media (max-width:768px) {
                    padding: 0px 20px;
                    margin: 16px 0px;
                    h1{
                        font-size: 36px;
                    }
                }
            }
            .inputs-left-down{
                padding: 0px 40px;
                margin: 32px 0px;
                p{
                    font-size: 19px;
                    line-height: 1.4;
                    margin-bottom: 16px;
                }
                @media (max-width:768px) {
                    padding: 0px 20px;
                    margin: 16px 0px;
                    p{
                        font-size: 15px;
                    }
                }
            }
        }

    }
}