@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,600;1,700;1,800;1,900&family=Urbanist:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");
header {
  border-bottom: 1px solid #a8a8a8;
}

header nav {
  display: block;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  width: 100%;
  z-index: 10;
}

header nav .navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header nav .navigation .logo-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 26px 24px;
}

header nav .navigation .nav-side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 85%;
}

@media (max-width: 992px) {
  header nav .navigation .nav-side {
    display: none  !important;
  }
}

header nav .navigation .nav-side ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  margin: 0;
  list-style: none;
  width: 45%;
}

header nav .navigation .nav-side ul li {
  position: relative;
}

header nav .navigation .nav-side ul li .sub-menu-active {
  display: block !important;
  position: absolute;
  top: 51px;
  left: 0;
  border: 2px solid black;
  width: 360px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 20px;
}

header nav .navigation .nav-side ul li .sub-menu {
  display: none !important;
  position: absolute;
  top: 51px;
  left: 0;
  border: 2px solid black;
  width: 360px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 20px;
}

header nav .navigation .nav-side ul li a {
  font-size: 16px;
  color: black;
  text-decoration: none;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header nav .navigation .nav-side ul li a .arrow-nav {
  padding-left: 10px;
}

header nav .navigation .nav-side ul li a .arrow-nav img {
  width: 14px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transition: 0.3s linear 0s;
  transition: 0.3s linear 0s;
}

header nav .navigation .nav-side ul li a .arrow-nav-rotate img {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: 0.3s linear 0s;
  transition: 0.3s linear 0s;
}

header nav .navigation .nav-side ul li a:hover {
  color: #2A32C5;
}

header nav .navigation .nav-side .button-area {
  width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

header nav .navigation .nav-side .button-area .sign-in a {
  text-decoration: none;
  color: #2A32C5;
  font-size: 16px;
}

header nav .navigation .nav-side .button-area .have-question a {
  font-weight: 700;
  text-decoration: none;
  color: white;
  background-color: #2A32C5;
  border: 1px solid #2A32C5;
  border-radius: 24px;
  padding: 10px 32px;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

header nav .navigation .nav-side .button-area .have-question a:hover {
  background-color: white;
  color: #2A32C5;
}

@media (min-width: 992px) {
  header nav .nav-phone {
    display: none;
  }
}

main #one .first-left-side {
  padding: 32px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

@media (max-width: 768px) {
  main #one .first-left-side {
    overflow-x: hidden;
    padding: 32px 20px;
  }
  main #one .first-left-side .first-side-up h1 {
    font-size: 2.25rem !important;
  }
  main #one .first-left-side .first-side-middle ul li {
    font-size: 16px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 15px;
  }
  main #one .first-left-side .first-side-middle ul li img {
    margin-right: 10px;
    -o-object-fit: contain;
       object-fit: contain;
  }
  main #one .first-left-side .first-side-down .send-area .first-select select {
    width: 100% !important;
  }
  main #one .first-left-side .first-side-down .send-area .email-side input {
    width: 100% !important;
  }
  main #one .first-left-side .first-side-down .send-area .button-side {
    width: 100% !important;
  }
  main #one .first-left-side .first-side-down .send-area .button-side button {
    width: 100%;
  }
}

main #one .first-left-side .first-side-up h1 {
  font-size: 2.6rem;
  font-weight: 700;
}

main #one .first-left-side .first-side-middle {
  height: 33.3%;
}

main #one .first-left-side .first-side-middle ul {
  padding: 0;
  margin: 0;
  list-style: none;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main #one .first-left-side .first-side-down .send-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main #one .first-left-side .first-side-down .send-area .first-select {
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main #one .first-left-side .first-side-down .send-area .first-select select {
  width: 80%;
  height: 46px;
}

main #one .first-left-side .first-side-down .send-area .email-side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 20px;
}

main #one .first-left-side .first-side-down .send-area .email-side input {
  width: 80%;
  height: 46px;
}

main #one .first-left-side .first-side-down .send-area .button-side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 80%;
}

main #one .first-left-side .first-side-down .send-area .button-side button {
  border: 1px solid #2A32C5;
  border-radius: 24px;
  padding: 10px 32px;
  background-color: #2A32C5;
  color: white;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

main #one .first-left-side .first-side-down .send-area .button-side button:hover {
  background-color: white;
  color: #2A32C5;
}

main #one .first-right-side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 992px) {
  main #one .first-right-side {
    display: none;
  }
}

main #one .first-right-side img {
  width: 77%;
  height: 700px;
  -o-object-fit: cover;
     object-fit: cover;
}

main #two .two-side-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main #two .two-side-left h2 {
  width: 65%;
  line-height: 1.07;
  text-align: inherit;
  font-weight: 700;
  margin-bottom: 40px;
}

main #two .two-side-left p {
  width: 88%;
  font-size: 1.125rem;
  line-height: 1.4;
  margin-bottom: 1rem;
}

main #two .two-side-left p a {
  color: #2A32C5;
  text-decoration: none;
}

main #two .two-side-left .outline-a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border: 1px solid #2A32C5;
  border-radius: 1.5rem;
  padding: 0px 2.25rem;
  background-color: #2A32C5;
  color: white;
  font-size: 1rem;
  text-decoration: none;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  height: 48px;
}

main #two .two-side-left .outline-a:hover {
  background-color: #272C8C;
}

main #two .two-right-side img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

main #three .programs-title h2 {
  text-align: center;
}

main #three .cards-area {
  background-color: #FAFAFA;
}

main #three .cards-area .card-area a {
  text-decoration: none;
}

main #three .cards-area .card-area a .img-side img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

main #three .cards-area .card-area a .card-content {
  padding-left: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main #three .cards-area .card-area a .card-content .first {
  font-size: 20px;
  font-weight: 700;
  padding: 0;
  margin: 0;
  font-size: 1.25rem;
  color: black;
}

main #three .cards-area .card-area a .card-content .second {
  font-size: 1.125rem;
  color: black;
  margin-bottom: 16px;
}

main #three .cards-area .card-area a .card-content .third {
  font-size: 1.125rem;
  color: black;
  margin-bottom: 16px;
}

main #three .cards-area .card-area a .card-content .third span {
  font-weight: 700;
  color: black;
}

main #three .cards-area .card-area a .card-content .fourth {
  font-size: 1.125rem;
  color: black;
  margin-bottom: 16px;
}

main #three .cards-area .card-area a .card-content .fourth span {
  font-weight: 700;
  color: black;
}

main #four {
  background-color: #03523C;
}

main #four ul {
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

@media (max-width: 768px) {
  main #four ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  main #four ul li {
    width: 100%;
  }
  main #four ul li h1 {
    text-align: inherit;
  }
  main #four ul li h4 {
    margin-bottom: 10px;
    width: 100%;
  }
  main #four ul li .firsth4 {
    width: 100%;
  }
  main #four ul li .secondh4 {
    width: 100%;
  }
}

main #four ul li {
  list-style: none;
}

main #four ul li h1 {
  color: #C7E3E2;
  text-align: center;
}

main #four ul li h4 {
  color: white;
  font-size: 22px;
}

main #four ul li .firsth4 {
  width: 90%;
}

main #four ul li .secondh4 {
  width: 88%;
}

main #five {
  background-color: #E6EEED;
}

main #five .five-side-left .first-p {
  font-size: 20px;
  margin-bottom: 8px;
}

main #five .five-side-left .five-h2-upside {
  font-weight: 700;
  font-size: 44px;
  margin-bottom: 32px;
}

main #five .five-side-left .five-side-middle {
  margin-bottom: 25px;
}

main #five .five-side-left .five-side-middle h2 {
  font-weight: 600;
  margin-bottom: 32px;
  font-size: 30px;
  line-height: 36px;
}

main #five .five-side-left .five-side-middle ul {
  padding: 0;
  margin: 0;
  margin-bottom: 32px;
  display: -ms-grid;
  display: grid;
  row-gap: 24px;
}

main #five .five-side-left .five-side-middle ul li {
  list-style: none;
  font-size: 18px;
}

main #five .five-side-left .five-side-middle ul li img {
  margin-right: 10px;
}

main #five .five-side-left .five-side-down {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main #five .five-side-left .five-side-down img {
  width: 36px;
  margin-bottom: 40px;
  margin-right: 10px;
}

main #five .five-side-left .five-side-down .p-title {
  width: 80%;
}

main #five .five-side-left .five-side-down .p-title .title-first {
  font-weight: 700;
}

main #five .five-side-left .five-side-down .p-title p {
  margin: 0;
  padding: 0;
}

main #five .five-right-side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

main #five .five-right-side video {
  width: 100%;
}

main #six .six-row-side {
  padding-left: 80px;
  padding-right: 80px;
}

main #six .six-row-side h4 {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 40px;
}

main #six .six-row-side .six-donw-side ul {
  margin-bottom: 40px;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

main #six .six-row-side .six-donw-side ul li {
  width: 16.66%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 0px 1% 25px;
}

main #six .six-row-side .six-donw-side ul li img {
  width: 50%;
  max-width: 100%;
  min-height: 30px;
}

footer {
  background-color: #201E1E;
  color: white;
}

@media (max-width: 768px) {
  footer {
    padding: 7px;
  }
}

footer .footer-up-side {
  border-bottom: 2px solid white;
}

footer .footer-up-side img {
  width: 160px;
  -o-object-fit: contain;
     object-fit: contain;
  margin-bottom: 35px;
}

footer .footer-middle {
  border-bottom: 2px solid white;
}

footer .footer-middle .footer-write-side p {
  font-size: 20px;
  line-height: 24px;
  margin: 31px 0;
  font-weight: 600;
}

footer .footer-middle .footer-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 85%;
}

footer .footer-middle .footer-input .footer-email-side {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer .footer-middle .footer-input .footer-email-side label {
  font-size: 14px;
  line-height: 20px;
}

footer .footer-middle .footer-input .footer-email-side input {
  height: 50px;
  width: 90%;
}

footer .footer-middle .footer-input .footer-email-side input:focus {
  padding: 15px;
}

footer .footer-middle .footer-input .footer-button-side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

footer .footer-middle .footer-input .footer-button-side button {
  height: 50px;
  width: 50px;
  border: 1px solid white;
  border-radius: 50%;
  font-size: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

footer .footer-middle .footer-input .footer-button-side button:hover {
  background-color: #201E1E;
  color: white;
}

footer .footer-middle ul {
  padding: 0;
  margin: 0;
}

footer .footer-middle ul .font-weight-area {
  font-weight: 700;
}

footer .footer-middle ul .footer-social-media a i {
  font-size: 30px;
  color: #A8A8A0;
  margin-right: 12px;
}

footer .footer-middle ul li {
  list-style: none;
  margin-bottom: 20px;
}

footer .footer-middle ul li a {
  text-decoration: none;
  color: white;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

footer .footer-down-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
}

@media (max-width: 768px) {
  footer .footer-down-left {
    margin-bottom: 10px;
  }
}

footer .footer-down-left p {
  color: #A8A8A0;
  padding: 0;
  margin: 0;
}

footer .footer-down-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 768px) {
  footer .footer-down-right {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  footer .footer-down-right a {
    margin-bottom: 10px;
  }
}

footer .footer-down-right a {
  font-size: 16px;
  text-decoration: none;
  color: #A8A8A0;
  margin-left: 17px;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  font-family: 'Poppins', sans-serif;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
/*# sourceMappingURL=style.css.map */